<!DOCTYPE html>
<html>
<head>
 <title>Food App</title>
 {% load staticfiles %}
 <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href='{%static "css/app.css" %}'/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

</head>
<body style="background-image:none; background-color:whitesmoke">
<nav class="navbar navbar-default navbar-fixed-top" style="background-color:#333 !important">

  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" style="color:white " href="#">Ciiboo</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      
      <ul class="nav navbar-nav navbar-right">
     
	  <li> {% if user.is_authenticated %}
      <a href="#">  {{ user.username }}</a></li>
     <li>  <a href="{% url 'logout' %}"> logout</a></li>
       {% else %}
	   <li><a href="/register">Signup <i class="fa fa-user-plus"></i></a></li>
       <li><a href="{% url 'login' %}">Login <i class="fa fa-user"></i></a></li>
       {% endif %}
	   
	   </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class= "container">
  
    <div class="row" >
	<div class="col-md-6 col-md-offset-3" style="margin-bottom:10px">
	<div id="cnt-blk">
	<div class="col-md-4">
			<img class="img-responsive" style= "float:left" src={%static "css/img1.jpg" %} width="242" height="242"> </div> <div class="col-md-8"><h3 style="color:red"><b>Crusto's</b>   </h3> <h5> 
Sector 8, Chandigarh </h5><h6>28, Inner Market, Sector 8 B, Sector 8, Chandigarh</h6></div><div class="clearfix"></div><hr>
 <p><b>COST</b> :₹600</p><p><b>HOURS </b>: 2 PM to 11 PM (Mon),1 PM to 11 PM (Tue-Sun)</p><p><b>PROMOTIONS</b>:   15% off on Axis Bank Credit & Debit Cards   [T&C] </p>
			
		
	</div>
	</div>
	<div class="col-md-6 col-md-offset-3" style="margin-bottom:10px">
	<div id="cnt-blk">
	<div class="col-md-4">
			<img class="img-responsive" style= "float:left" src={%static "css/img4.jpg" %} width="242" height="242"> </div> <div class="col-md-8"><h3 style="color:red"><b>Tossin Pizza</b>   </h3> <h5> 
Sector 35 </h5><h6>Ground Floor, SCO 497-498, Sector 35 C, Sector 35, Chandigarh</h6></div><div class="clearfix"></div><hr>
 <p><b>COST</b> :₹900</p><p><b>HOURS </b>11 AM to 11 PM (Mon-Sun)</p><p><b>PROMOTIONS</b>:   15% off on Axis Bank Credit & Debit Cards   [T&C] </p>
			
		
	</div>
	</div>
	<div class="col-md-6 col-md-offset-3" style="margin-bottom:10px">
	<div id="cnt-blk">
	<div class="col-md-4">
			<img class="img-responsive" style= "float:left" src={%static "css/img3.jpg"" %} width="242" height="242"> </div> <div class="col-md-8"><h3 style="color:red"><b>Smokin' Joe's</b>   </h3> <h5> 
Sector 32 </h5><h6>Bay Shop 404, Sector 32 D,, Sector 32, Chandigarh</h6></div><div class="clearfix"></div><hr>
 <p><b>COST</b> :₹650</p><p><b>HOURS </b>10 AM to 10 PM (Mon-Sun)</p><p><b>PROMOTIONS</b>:   15% off on Axis Bank Credit & Debit Cards   [T&C] </p>
			
		
	</div>
	</div>
	<div class="col-md-6 col-md-offset-3" style="margin-bottom:10px">
	<div id="cnt-blk">
	<div class="col-md-4">
			<img class="img-responsive" style= "float:left" src={%static "css/bg-image.jpg"" %} width="242" height="242"> </div> <div class="col-md-8"><h3 style="color:red"><b>PiFi Pizza Zone</b>   </h3> <h5> 
Sector 8, Chandigarh </h5><h6>Booth 49, Sector 8 B, Sector 8, Chandigarh</h6></div><div class="clearfix"></div><hr>
 <p><b>COST</b> :₹750</p><p><b>HOURS </b>11:30 AM to 11 PM (Mon-Sun)</p><p><b>PROMOTIONS</b>:   15% off on Axis Bank Credit & Debit Cards   [T&C] </p>
			
		
	</div>
	</div>
		<div class="col-md-6 col-md-offset-3" style="margin-bottom:10px">
	<div id="cnt-blk">
	<div class="col-md-4">
			<img class="img-responsive" style= "float:left" src={%static "css/img5.jpg"" %} width="242" height="242"> </div> <div class="col-md-8"><h3 style="color:red"><b>Michigan Pizza Company</b>   </h3> <h5> 
Sector 9, Chandigarh </h5><h6>SCF 21, Sector 9 D, Sector 9, Chandigarh</h6></div><div class="clearfix"></div><hr>
 <p><b>COST</b> :₹500</p><p><b>HOURS </b>11:30 AM to 11 PM (Mon-Sun)</p><p><b>PROMOTIONS</b>:   15% off on Axis Bank Credit & Debit Cards   [T&C] </p>
			
		
	</div>
	</div>
	</div>
	
</div>

  
  
	





 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 </body>

</html>
